<div class="content-wrapper">
  <div class="content-block">
  <% (1..10).each do |i| %>
  <div class="content">
    <div class="user-about">
     <div class="image">
       <%= image_tag "IMG_6389.jpg" %>
     </div>
     <div class="profile">
      
       <div class="name">
        だーーん
       </div>
      
      <div class="purpose">
        東京のディープな店を制覇したい！
      </div>
     </div>
    </div>

      <div class="text">
      <p>こんにちはこれはサンプルでゴンズこんにちはこれはサンプルでゴンズこんにちはこれはサンプルでゴンズ</p>
      <p>こんにちはこれはサンプルでゴンズこんにちはこれはサンプルでゴンズこんにちはこれはサンプルでゴンズ</p>
      </div>

      <div class="action-menu">
        <div class="comment">
        </div>
      </div>
      </div>
      <% end %>
  </div>
</div>