<div class="content-wrapper">
  <div class="content-block">
  <% @posts.each do |post| %>
  <div class="content">
    <div class="user-about">
     <div class="image">
       <%= image_tag "IMG_6389.jpg" %>
     </div>
     <div class="profile">
      
       <div class="name">
        だーーん
       </div>
      
      <div class="purpose">
        東京のディープな店を制覇したい！
      </div>
     </div>
    </div>

      <div class="text">
      <p><%= post.content %></p>
      </div>

      <% if post.images.attached? %>
      <div class="images">
       <% post.images.each do |image| %>
        <%= image_tag image %>
        <% end %>
      </div>
      <% end %>

      <div class="action-menu">
        <div class="comment">
        </div>
      </div>
      </div>
      <% end %>
  </div>
</div>