// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#welcome-index {
  .content-wrapper {
    display: flex;
    justify-content: center;

    .content-block {
      border: 2px solid #000;
      width: 70%;
      padding: 20px;

      .content {
        border: 2px solid #000;
        padding: 15px;
        margin-bottom: 15px;
        .user-about {
          display: flex;

          .image {
            width: 10%;
          }

          .profile {
            margin-left: 10px;
  
              .name {
                font-weight: bold;
              }
            }
            .purpose {
              width: 100%;
            }
          }
        }
      }
    }
  }